<div class="row skip-button">
	<%= link_to "Skip >>>", root_url, class: "black-link" %>
</div>
<div class="tutorial-box">
	<h3 class="introduction">Introduction</h3>
	<%= link_to "Next >>>", root_url, class: "next-button black-link" %>
</div>