<%= form_for([@photo, @comment]) do |f| %>

	<div class="comment">
		<%= f.text_area :body, cols: "135", rows: "5", placeholder: "Comment..." %>
	</div>

	<%= f.submit "Post", class: "btn btn-comment" %>
<% end %>