<% provide(:title, "Search")%>

<div class="row">
  <div class="col-md-12">
    <% if @photos.any? %>
      <ul class="microposts">
        <%= render @photos %>
      </ul>
    <% end %>
  </div>
</div>