<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Label", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Label OOTD", '/photos/new' %></li>
        <li><%= link_to "Log out", signout_path %></li>
      </ul>
    </nav>
  </div>
</header>